name: Cache-Clean

on:
  schedule:
    - cron: 0 20 * * 0   # 每周日早上 4 点 (台北时间)
  workflow_dispatch:

permissions:
  actions: write   # 缩小权限范围，更安全
  contents: write  # 删除 release/tag 需要
  workflows: write # 删除 workflow 需要

env:
  GH_TOKEN: ${{secrets.GITHUB_TOKEN}}

jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Projects
        uses: actions/checkout@v4

      - name: Cache Clean
        run: gh cache delete --all

      - name: Delete old Releases and Workflows
        uses: ophub/delete-releases-workflows@v1
        with:
          gh_token: ${{secrets.GITHUB_TOKEN}}
          delete_releases: true
          releases_keep_latest: 5
          delete_tags: true
          delete_workflows: true
          workflows_keep_day: 5
